*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{

scroll-behavior: smooth;

}


body{

font-family: 'Times New Roman', Times, serif;

}

a{
    text-decoration: none;
    color: black;
}



.parent{

      background-color: rgb(240, 242, 244);
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 30px;

}

.searchbox{

       background: color #f5f5f5;
       width:1000px;
       height: 50px;
       padding: 15px;
       border-radius: 30px;
       border:none;
       

}


.nav{
    display: flex;
    gap: 25px;
    font-size: 15px;
}


.banner{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items:center ;
}


.banner > img{
    width: 70%;
}


.image{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.image > img{
    width: 96%;
}


.logo > img{
    width: 75px;
}

.search{
    width: 75%;
}

.nav{
    padding-left: 50px;
}