*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;      
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.parent{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 10;
    box-shadow: -9px -4px 5px 4px gray;
    position: relative;
    align-items: center;
   
}





.menu{
  
    background-color:rgb(255, 255, 255);
    display: flex;
    font-size: medium;
    padding-left: 110px;
    gap: 7px;
}

.menu > img{
    height: 20px;
    width: 20px;
    position: relative;
    right:20
}

.menutext{
    transition: all 0.5s;
    width: 100px;
    cursor: pointer;
}

.menutext:hover{
    color: #127749;
}
.icon{
    
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 50px;
    margin-left: 200px;
    
    
   
}


.coner{
    
    display: flex;
    gap: 50px;
    
   
}

.nav{
    background-color: rgb(255, 255, 255);
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
  
}

.nav > a{
    
    background-color:rgb(255, 255, 255);
    color: black;
    
    transition: all 0.5s;
    
  
}


.nav > a:hover{
    color: #127749;
}



.img{
    width: 20px;
}



.section_parent{
    background-color: rgb(214, 157, 157);
    padding: 15px;
    margin: 40px;

}